.wc-two {
    background-color: crimson;
    color: white;
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 300px;
    padding: 2em;
}
