.wc-three {
    background-color: deeppink;
    color: white;
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 200px;
    padding: 2em;
}
